{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prog web</title>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <header class="jumbotron text-center">
        <h1>Não tenho a versão pro</h1>
        <p>Já devia ter tratado disso</p>
        <nav>
            <a class="btn btn-info" href="{% url 'website:home' %}">Home</a>
            <a class="btn btn-info" href="{% url 'website:about' %}">Sobre</a>
            <a class="btn btn-info" href="{% url 'website:outro' '0' %}">other</a>
            <a class="btn btn-info" href="{% url 'website:tarefas' %}">tarefas</a>
            <a class="btn btn-info" href="{% url 'website:admin' %}">admin</a>
        </nav>
    </header>

    <article class="container">
        <main class="col-sm-6">
            {% block main %}
            {% endblock %}
        </main>

        <aside class="col-sm-6">
            {% block image %}
            {% endblock %}
        </aside>

        {% block aditional %}
        {% endblock %}
        <pre>
            <code>
                {% block code %}
                {% endblock %}
            </code>
        </pre>
    </article>

    <footer></footer>
</body>
</html>